@use "colors";

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  /*  background-repeat: no-repeat;
  background-attachment: fixed; */
  background: colors.$backround;
}

main {
  display: grid;
  justify-items: center;
  /* padding-top: 10rem;
  position: absolute;
  top: 0;
  width: 100%; */
  /*  height: 100%; */
}

.container {
  display: grid;
  justify-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 6rem 0;
}

section {
  display: flex;
  justify-content: center;
  width: 100%;
}
