@use "colors";
@use "efects";

button {
  all: unset;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  /*  max-width: 5rem; */
  text-align: center;
  box-shadow: efects.$moduleshadow;
}

.play_now {
  color: white;
  background: colors.$play;
  padding: 1rem 2rem;
  border-radius: 5rem;
  box-shadow: efects.$playshadow;
}

.button_1,
.button_2 {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 1.8px;
  border-image-source: colors.$gold;
  padding: 1rem 2.8rem;
  /*  background: colors.$gold; */
  font-weight: bold;
}

.button_1 ,
.button_2  { 
  p {
    padding: 0;
    margin: 0;
    background: colors.$gold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.button_1 {
  background: rgba(0, 0, 0, 0.5);
  background: colors.$buttonbackround;
}
