@use "colors";
@use "efects";

.library img {
  width: 10rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.library {
  width: 100%;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, 10rem);
  justify-content: space-between;
}

#card_library .container div,
#publick_card_library .container div {
  width: 100%;
  text-align: center;
}

#card_library .gold_lines_container,
#publick_card_library .gold_lines_container {
  margin-bottom: 2rem;
}

#card_library .container,
#publick_card_library .container {
  grid-gap: 6rem;
  margin-top: 0rem;
}

.build_deck_library_container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 3rem;
  height: 100%;
}

.built_deck_right {
  background: colors.$buttonbackround;
  /*  width: 24rem; */
  /*  height: 600px; */
  height: 80vh;
  padding: 1rem;
  position: sticky;
  top: 10.3rem;
  top: 5.7rem;
  display: flex;
  flex-direction: column;
}

.build_deck_left .search_container {
  top: 5.7rem;
}

/* .built_deck_right input {
  width: 90% !important;
} */

.card_count_container {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.built_deck_right .filter_element {
  text-align: center;
  display: grid;
  justify-content: center;
}
.built_deck_right .filter_element img {
  width: 2rem;
}

.edit_deck {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.edit_deck div {
  display: flex;
  gap: 0.5rem;
}

.edit_deck div svg {
  fill: white;
}

.built_deck_right button {
  display: block;
  width: 100%;
  margin: 0 auto !important;
  padding: 1rem 0 !important;
}

.built_deck_right .chosen_container {
  height: 100%;
  width: 23rem;
  overflow-y: scroll;
  
}
.built_deck_right ::-webkit-scrollbar {
  width: 10px;
}
.empty_deck {
  cursor: pointer;
}

.built_deck_right ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 100px;
}

.built_deck_right ::-webkit-scrollbar-thumb {
  background: colors.$goldTop;
  border-radius: 100px;
}
.cards_in_libary {
  cursor: pointer;
}

.chosen_cards {
  display: flex;
  padding: 1rem 0.5rem;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  img {
    width: 6rem;
    height: 100%;
  }
}

.build_deck_left {
  width: 100%;
}

.build_deck_left .search_container .container {
  margin: unset;
}

.left_sticy_nav {
  display: block !important;
}

.left_sticy_nav .container {
  padding-right: 3rem;
}

.left_sticy_nav .container .filter_element:last-of-type,
.sticky_nav .container .filter_element:first-of-type {
  margin: unset;
}

.deck_colaps_container {
  margin-top: 3rem;
}

.deck_colaps_container .library {
  margin: 1rem 0;
}
