#cards_home {
  margin-top: -7.3rem;
}

#cards_nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  margin: 1rem 0;
}

#cards_home img {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

#cards_home .card_a {
  position: relative;
  width: 100%;
}

#cards_home .overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: last baseline;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}
