$purple: #421d6a;
$gold: linear-gradient(
  to right,
  #5e3033 0%,
  #985727 2%,
  #c5944f 40%,
  #f6e6b7 50%,
  #c7934d 60%,
  #965525 97%,
  #5e3033 100%
);
$goldTop: linear-gradient(
  to top,
  #5e3033 0%,
  #985727 2%,
  #c5944f 40%,
  #f6e6b7 50%,
  #c7934d 60%,
  #965525 97%,
  #5e3033 100%
);

$translight: rgba(255, 255, 255, 0.1);
$transdark: rgba(0, 0, 0, 0.5);

$play: linear-gradient(
  47deg,
  rgba(255, 71, 177, 1) 0%,
  rgba(255, 133, 151, 1) 50%
);

$light: rgba(255, 255, 255, 0.9);

$backround: linear-gradient(
    150deg,
    rgba(15, 0, 92, 1) 0%,
    rgba(49, 0, 86, 1) 50%,
    rgba(22, 0, 50, 1) 100%
  )
  fixed;

$buttonbackround: linear-gradient(
  150deg,
  rgb(12, 0, 71, 0.6) 0%,
  rgb(31, 0, 55, 0.6) 50%,
  rgb(13, 0, 31, 0.6) 100%
);
