@use "colors";

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  display: grid;
  justify-items: center;
  margin-top: 16rem;
  /*   background: colors.$backround; */
}

#footer_container {
  margin-top: 6rem;
  display: grid;
  justify-items: center;
  max-width: 1700px;
}

footer img {
  margin-bottom: 7rem;
}

#footer_some svg {
  margin: 0 0.8rem;
}
#footer_info {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: last baseline;
  text-align: center;
  margin-top: 6rem;
}

#footer_info p {
  grid-column-start: 2;
}
