@use "colors";
@use "efects";

input[type="text"],
input[type="email"],
input[type="password"] {
  all: unset;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Raleway", sans-serif;
  background: none;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 1.8px;
  border-image-source: colors.$gold;
  width: 100%;
  padding: 1rem 0;
}

#user {
  position: fixed;
  top: 0;
  bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: rgba(255, 255, 255, 0.1);
  align-items: center;
  backdrop-filter: blur(40px);
  z-index: 99;
  /* padding-top: 50rem; */
}

.add_scroll_overflow {
  overflow-y: scroll;
}

#user h2 {
  margin-bottom: 0;
}

#user form {
  margin-top: 3rem;
  display: grid;
  grid-gap: 1rem;
  width: 24rem;
  /* justify-items: center; */
}

#user .checkbox_container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

#user_profile {
  margin-top: 50rem;

  /* HOW TO FIX IT????!?!?! */
}

#user_profile #user_profilepicture_container {
  display: flex;
  align-items: end;
  margin-bottom: 3rem;
}

#user_profile #user_profilepicture_container svg {
  fill: white;
}

#user_profile #user_profile_picture {
  width: 8rem;
  border-radius: 10rem;
}

#user_profile h3 {
  background: unset;
  -webkit-text-fill-color: unset;
  color: white;
}

#user_profile #my_deck_top {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#user_profile #my_deck_top .flex {
  gap: 1rem;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 1.8px;
  border-image-source: colors.$gold;
  padding: 5px 1rem;
  background: colors.$buttonbackround;
  cursor: pointer;
}

#user_profile #my_deck_top .flex svg {
  fill: white;
}

#user_profile .scroll_container {
  width: 100%;
  margin: 2rem 0;
}

#user_profile .scroll {
  display: flex;
  margin: 1rem 0;
  max-width: 1000px;
  overflow-x: scroll;
  padding: 0.8rem 0;
  /* -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  */
}

#user_profile .scroll::-webkit-scrollbar {
  height: 10px;
}

#user_profile .scroll::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 100px;
}

#user_profile .scroll::-webkit-scrollbar-thumb {
  background: colors.$gold;
  border-radius: 100px;
}

#user_profile .scroll img {
  width: 6rem;
  margin: 0 0.5rem;
}

#user_profile #settings {
  margin-top: 3rem;
  width: 100%;
  max-width: 400px;
  display: grid;
}

#user_profile #settings h3 {
  text-align: center;
}

#user_profile #settings .button_1 {
  margin: 0.5rem auto;
}

#user_profile #settings .button_1:nth-child(3) {
  border-image-source: unset;
  border-color: red;
  margin-top: 3rem;
}

#user_profile #settings .button_1:nth-child(3) p {
  background: unset;
  -webkit-text-fill-color: unset;
  color: red;
}

.search_container {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 4.3rem;
}
.search_container input {
  text-align: center;
  backdrop-filter: blur(50px);
}
