.gold_lines_container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
}

.gold_lines_container h2 {
  margin: 0 2rem;
}

.gold_lines {
  height: 1px;
  background: linear-gradient(
    to right,
    #5e3033 0%,
    #985727 2%,
    #c5944f 40%,
    #f6e6b7 50%,
    #c7934d 60%,
    #965525 97%,
    #5e3033 100%
  );
}

.descript {
  text-align: center;
}
