.hero {
  width: 100%;
  background: rgb(15, 0, 92);
  background: linear-gradient(
    150deg,
    rgba(15, 0, 92, 1) 0%,
    rgba(49, 0, 86, 1) 50%,
    rgba(22, 0, 50, 1) 100%
  );
  display: grid;
  justify-content: center;
}

.hero_container {
  display: grid;
  justify-items: center;
  max-width: 1000px;
  margin: 150px;
  margin-top: 200px;
}
.hero img {
  width: 100%;
}

.hero h2 {
  font-size: 2rem;
}

.hero .play_now {
  padding: 1rem 4rem;
}

.hero p {
  padding: 0 0 3rem 0;
  color: rgba(255, 255, 255, 0.5);
}
