#htp_content_container {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-gap: 5rem;
  align-items: center;
  justify-items: center;
  margin-top: 1rem;
}

#htp_content_container img {
  width: 100%;
  filter: drop-shadow(0px 3px 8px #000000);
}

#htp_content_container .right p,
#htp_content_container .left p {
  text-align: center;
  background: #5e3033;
  background: -webkit-linear-gradient(
    to right,
    #5e3033 0%,
    #985727 2%,
    #c5944f 40%,
    #f6e6b7 50%,
    #c7934d 60%,
    #965525 97%,
    #5e3033 100%
  );
  background: -moz-linear-gradient(
    to right,
    #5e3033 0%,
    #985727 2%,
    #c5944f 40%,
    #f6e6b7 50%,
    #c7934d 60%,
    #965525 97%,
    #5e3033 100%
  );
  background: linear-gradient(
    to right,
    #5e3033 0%,
    #985727 2%,
    #c5944f 40%,
    #f6e6b7 50%,
    #c7934d 60%,
    #965525 97%,
    #5e3033 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#htp_content_container .mid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 3rem;
}

#htp_content_container .mid h3,
#htp_content_container .mid p {
  margin: 0;
}
#htp_content_container .mid p {
  margin-top: 0.5rem;
}
