@use "colors";
@use "efects";

nav {
  width: 100%;
  margin: 0;
  position: fixed;
  box-shadow: efects.$moduleshadow;
  background: colors.$translight;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(40px);
  z-index: 999;
}

nav svg {
  width: 3rem;
  margin: 1rem 1rem;
  cursor: pointer;
}

nav a {
  padding: 0rem 1rem;
  color: colors.$transdark;
}

nav img {
  width: 4rem;
  margin: 1rem 3rem;
}

.second_non_sticy_nav {
  all: unset;
  width: 100%;
  display: flex;
  justify-content: center;
}

.second_non_sticy_nav .container {
  display: flex;
  justify-content: start;
  margin: 0;
  margin-top: -3.2rem;
}

.second_non_sticy_nav a {
  /* color: white; */
  /* background-color: rgba(255, 255, 255, 0.114);
  backdrop-filter: blur(10px); */
  background: #3a1c59;
  padding: 1rem;
  margin: 0 0.5rem;
  width: 7rem;
  text-align: center;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: static;
}

.second_non_sticy_nav .container a:last-of-type {
  width: 8rem;
  margin-left: 6rem;
}

.second_non_sticy_nav .container a:first-of-type {
  margin-left: 0;
}

.sticky_nav {
  /* background-color: rgba(255, 255, 255, 0.114);
  backdrop-filter: blur(10px); */
  background: #421d6a;
  width: 100%;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 4.7rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 80;
}

.sticky_nav img {
  width: 3rem;
  margin-top: 0.5rem;
  filter: drop-shadow(0px 3px 8px #000000);
}

.sticky_nav p {
  text-align: center;
  margin: 0.5rem 0;
}

.sticky_nav .container {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.sticky_nav .container .filter_element:first-of-type {
  margin-right: 6rem;
}
.sticky_nav .container .filter_element:last-of-type {
  margin-left: 6rem;
}

.sticky_nav .container .filter_element {
  width: 5rem;
  display: grid;
  justify-items: center;
}

.active_card_nav {
  z-index: 81;
  box-shadow: none !important ;
  color: white;
  background: #421d6a !important;
}
