@use "colors";

h1 {
  font-size: 4rem;
  font-family: "Cinzel Decorative", serif;
  background: #5e3033;
  background: colors.$gold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 2rem;
  font-family: "Cinzel Decorative", serif;
  background: #5e3033;
  background: colors.$gold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-size: 1.5rem;
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  background: #5e3033;
  background: colors.$gold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4 {
  font-size: 1.5rem;
  font-family: "Cinzel", serif;
  font-weight: 400;
  color: colors.$light;
}

a {
  text-decoration: none;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
}

p,
label {
  color: colors.$light;
  font-family: "Raleway", sans-serif;
}

.smol {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
}

.gold_txt {
  background: #5e3033;
  background: colors.$gold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
